<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Fred Morel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.css" />
	<style>
		html,
		body,
		md-content {
			background-color: #eee !important;
		}

		.md-title {
			margin: 0 0 0.5em 0;
		}

		.category {
			font-weight: bold;
		}

		.techs {
			font-size: 0.9em;
		}

		.tech-list {
			font-style: italic;
		}
	</style>
</head>

<body ng-controller="Resume as Resume">
	<md-toolbar class="md-hue-2">
		<h2 class="md-toolbar-tools">Fred Morel - Software Developer</h2>
	</md-toolbar>
	<h3 layout-padding>Online Presence</h3>
	<div layout="row" layout-xs="column" layout-wrap>
		<md-card flex>
			<md-card-content>
				<h3 class="md-title">Github</h3>
				<p>My open source work and public projects</p>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="end center">
				<a href="https://github.com/fjmorel" class="md-primary" md-button>View</a>
			</div>
		</md-card>
		<md-card flex>
			<md-card-content>
				<h3 class="md-title">LinkedIn</h3>
				<p>My history and projects</p>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="end center">
				<a href="https://www.linkedin.com/in/fredericmorel2" class="md-primary" md-button>View</a>
			</div>
		</md-card>
		<md-card flex>
			<md-card-content>
				<h3 class="md-title">StackOverflow</h3>
				<p>My efforts at helping others</p>
			</md-card-content>
			<div class="md-actions" layout="row" layout-align="end center">
				<a href="http://stackoverflow.com/users/1417591/fred" class="md-primary" md-button>View</a>
			</div>
		</md-card>
	</div>

	<h3 layout-padding>Projects</h3>
	<div layout="row" layout-xs="column" layout-wrap>
		<div flex="33" flex-sm="50" flex-xs="100" ng-repeat="proj in Resume.projects">
			<md-card>
				<md-card-content>
					<h3 class="md-title">{{::proj.title}}</h3>
					<h3 class="md-title">
						<small>{{::proj.subheading}}</small>
					</h3>
					<p>{{::proj.description}}</p>
					<p class="techs">
						<span class="category">Technical environment</span>:
						<span ng-bind="::proj.techs" class="tech-list"></span>
					</p>
				</md-card-content>
				<md-card-footer ng-if="::proj.actions">
					<div class="md-actions" layout="row" layout-align="end center">
						<a ng-repeat="link in proj.actions" href="{{::link.url}}" ng-class="::link.class" md-button>{{::link.text}}</a>
					</div>
				</md-card-footer>
			</md-card>
		</div>
	</div>
	<h3 layout-padding>History</h3>
	<div layout="row" layout-xs="column" layout-wrap>
		<md-card flex flex-sm="100">
			<md-card-content>
				<h3 class="md-title">Education</h3>
				<h4>Bachelor of Science in Software Engineering</h4>
				<p>With minors in Mathematics and Computer Science, from Southern Polytechnic State University</p>
				<ul>
					<li>User Centered Design</li>
					<li>Software Project Management</li>
					<li>Database Systems</li>
					<li>Calculus I, II, III</li>
					<li>Ordinary Differential Equations</li>
				</ul>
			</md-card-content>
		</md-card>
		<md-card flex flex-sm="100">
			<md-card-content>
				<h3 class="md-title">Work</h3>
				<h4>Building Systems Analyst
					<small>at General Services Administration</small>
				</h4>
				<ul>
					<li>Earned the Public Building Service Commissioner’s Award for my support of the national solid waste and recycling program.</li>
					<li>Received FAC-P/PM Level 1 Certification (Federal Acquisition Certification for Program and Project Managers)</li>
					<li>Monitor and troubleshoot devices in region-wide Advanced Metering program.</li>
					<li>Built a dashboard for energy & water utility data on the branch’s Google Site based on a pre-existing Excel dashboard.</li>
					<li>Built a set of spreadsheets with added features for easier Waste Diversion tracking.</li>
					<li>Built an automated archival system for Waste Diversion reports using a custom-built email filter and a Google Group.</li>
					<li>Built a server monitor as a Windows server using SQL queries to monitor an item that the server couldn’t do itself in
						order to decrease response time in case of failure.</li>
					<li>Built a small scheduling component in LonMaker as a backup for the existing scheduling that failed.</li>
					<li>Built a front-end to display and manage historical advanced metering data for the region.</li>
				</ul>
			</md-card-content>
		</md-card>
	</div>
	<h3 layout-padding>Other</h3>
	<div layout="row" layout-xs="column" layout-wrap>
		<md-card flex flex-sm="100">
			<md-card-content>
				<h3 class="md-title">Downloads</h3>
				<ul>
					<li>
						<a href="Resume.docx">Resume as Word document</a>
					</li>
				</ul>
			</md-card-content>
		</md-card>
		<md-card flex flex-sm="100">
			<md-card-content>
				<h3 class="md-title">Contact Information</h3>
				<p>Email:
					<a href="mailto:webmaster@fmorel.net">webmaster@fmorel.net</a>
				</p>
			</md-card-content>
		</md-card>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>
	<script>
		"use strict";
		const app = angular.module('fmorel.website', ['ngAria', 'ngMaterial']).config(['$mdThemingProvider', '$compileProvider', function (ThemeProvider, $compileProvider) {
			ThemeProvider.theme('default').primaryPalette('blue').accentPalette('amber');
			$compileProvider.debugInfoEnabled(false);
			$compileProvider.commentDirectivesEnabled(false);
			$compileProvider.cssClassDirectivesEnabled(false);
			$compileProvider.strictComponentBindingsEnabled(false);
		}]);

		//Project definitions to be displayed
		const projects = [
			{
				title: 'Cosmic Companion',
				subheading: '(personal project)',
				description: 'I built an unofficial companion app for the Cosmic Encounter board game to simplify game setup. It secretly assigns random character choices to each player based on what expansions and level of game you are playing. This was also an opportunity to experiment with Material Design for a simple, bold design. This project began as web page, migrated to a WebView-based Android app, and is now available as both a website and a native Android app.',
				techs: 'HTML, JavaScript, AngularJS, CSS, Java, Android, Android Studio, XML, JSON',
				actions: [
					{ url: "https://github.com/fjmorel", class: "md-primary", text: "View Source" },
					{ url: "cosmic/", class: "md-primary md-raised", text: "Open" }
				]
			},
			{
				title: 'Hue Band Controls Android App',
				subheading: '(personal project, in private beta)',
				description: 'I had smart light bulbs and a smart watch, so I built an Android app with a background service to receive commands from a Microsoft Band and send them to a Philips Hue lighting system. For now, it can control white color temperature and brightness levels. As this app is still in progress, I am keeping the app in a private beta for now.',
				techs: 'Android, Java, Android Studio, XML',
				actions: [
					{ url: "https://play.google.com/store/apps/details?id=net.fmorel.hueband", class: "md-primary", text: "View on Play Store" }
				]
			},
			{
				title: 'Region 4 Energy & Water Dashboard',
				subheading: '(as Building System Analyst)',
				description: 'I designed & built a system to let the organization view and analyze utility data in the region in an easy to use manner and facilitate reporting our energy status for the measure mandated by Executive Order 13423. The system imports utility data from national system and stores data in Google Drive to power a dashboard on a Google Site. It has been through several major revisions due to improvements to Google Apps Script and acquired experience with JavaScript. It initially used UI Service, a GWT-like framework for Google Site gadgets, then transitioned to a jQuery-powered page, and recently transitioned to an AngularJS application.',
				techs: 'Google Apps, Google Apps Script, HTML, JavaScript, jQuery, AngularJS, CSS'
			},
			{
				title: 'Building Automation System (BAS) Monitor Service',
				subheading: '(as Building System Analyst)',
				description: 'I designed & built a script to check whether a server running InetSupervisor is working as intended based on several unique conditions not supported by the server application itself. It has been expanded over time with additional conditions and checks of the application. While it was initially a PowerShell scheduled task due to limited technical tools, I eventually built a more robust Windows service to restart the BAS as needed to resolve issues.',
				techs: 'PowerShell, Microsoft SQL Server, InetSupervisor, LNS, C#'
			},
			{
				title: 'Waste Diversion Tracker',
				subheading: '(as Building System Analyst)',
				description: 'I enhanced a set of Google Spreadsheets with Apps Script to archive waste diversion reports, track data, and display the current waste diversion status of the region for the measure mandated by Executive Order 13514. The spreadsheets allow users to enter amount of materials disposed and diverted (recycled/reused) by container, which combine to show the diversion rate for at the building, service center, and regional levels. A separate script allows users to send in reports by email for automated archival in a Google Group by building and month.',
				techs: 'Google Apps, Google Apps Script, HTML, JavaScript, CSS'
			},
			{
				title: 'Advanced Metering Regional Data Collection Service',
				subheading: '(as Building System Analyst)',
				description: 'I replaced a legacy third-party data collector with a more robust and efficient service. It eliminated instances of backlogging of uncollected data that frequently occurred with the older service.',
				techs: 'C#, SQL, Microsoft SQL Server'
			}
			/*
			{
				title: '',
				subheading:'',
				description:'',
				techs:''
			}
			*/
		];

		app.controller('Resume', [function () { this.projects = projects; }]);

		angular.bootstrap(document, ['fmorel.website'], { strictDi: true });
	</script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-76241009-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>

</html>